.input-group {
  .input-group-text:first-child {
    border-radius: 0 0.375rem 0.375rem 0;
    border-left: none;
  }
  
  .form-control:last-child {
    border-radius: 0.375rem 0 0 0.375rem;
    border-right: none;
  }
}
